* {
  margin: 0;
  padding: 0; }

body {
  background-color: beige !important;
  scroll-behavior: auto; }

ul {
  font-size: 10px; }

.h1 {
  color: crimson;
  text-align: left;
  padding: 15px 30px 10px 30px;
  font-size: 70px;
  background-color: bisque;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.h2 {
  color: crimson;
  font-size: 50px;
  text-align: center;
  padding: 18px 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.h3 {
  padding: 20px 5px;
  text-align: center;
  font-size: xx-large;
  color: crimson;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.h4 {
  color: crimson;
  font-size: 30px;
  text-align: center;
  padding: 18px 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.subtitulo {
  color: crimson;
  font-size: 30px;
  text-align: center;
  padding: 22px 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration-line: underline; }

.parrafo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 25px 15px;
  border: solid 2px black;
  margin: 5px 10px 5px 10px;
  background-image: linear-gradient(to left, #cecece, #b12d2d); }

.titulo {
  background-color: bisque;
  padding: 2px 5px;
  text-align: center;
  font-size: 45px;
  color: crimson;
  height: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.titulo-2 {
  background-color: bisque;
  padding: 2px 5px;
  text-align: center;
  font-size: 45px;
  color: crimson;
  height: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.link-menu {
  align-items: flex-end;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin: 5px 5px 5px 25px;
  padding: 1px 0px; }

.img-restaurante {
  width: 100%;
  height: 360px; }

.img-restaurante-div {
  width: 100%;
  height: 360px; }

.img-restaurante-div:hover {
  height: 350px;
  border: solid 4px black; }

.parrafo-personal {
  display: flex; }

.link-menu2 {
  align-items: flex-end;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin: 5px 5px 5px 25px;
  padding: 1px 0px; }

.flex-img {
  display: flex;
  padding: 15px 10px;
  border: 5px;
  justify-content: center;
  height: 360px;
  width: 560px; }

.flex-container {
  display: flex;
  justify-content: center; }

.p-video {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0px 50px 50px 50px; }

.p-1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px; }

.video-yt {
  display: flex;
  justify-content: center;
  padding: 50px; }

.video-yt-border {
  border: solid black 2px; }

#grid-layout {
  display: grid;
  grid-template-areas: "menu" 
 "almuerzo"
 "cena"
 "postre";
  grid-template-columns: 20% 75%;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
  row-gap: -1%; }

.menu {
  display: inline-flex;
  grid-area: menu;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 8rem;
  border: black solid 2px;
  background-color: #fffd82;
  margin-left: 9rem;
  font-size: 2rem;
  font-family: 'Charis SIL', serif;
  padding-left: 1rem; }

.menu-1 {
  border: black solid 2px;
  background-color: #faf5a9;
  margin-left: 5.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.almuerzo {
  display: inline-flex;
  grid-area: almuerzo;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 8rem;
  border: black solid 2px;
  background-color: #fffd82;
  margin-left: 9rem;
  font-family: 'Charis SIL', serif;
  font-size: 1.8rem;
  padding-left: 1rem; }

.almuerzo-1 {
  border: black solid 2px;
  background-color: #faf5a9;
  margin-left: 5.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.cena {
  grid-area: cena;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 8rem;
  border: black solid 2px;
  background-color: #fffd82;
  margin-left: 9rem;
  font-family: 'Charis SIL', serif;
  font-size: 1.8rem;
  padding-left: 1rem; }

.cena-1 {
  border: black solid 2px;
  background-color: #faf5a9;
  margin-left: 5.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.postre {
  grid-area: postre;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 8rem;
  border: black solid 2px;
  background-color: #fffd82;
  margin-left: 9rem;
  font-family: 'Charis SIL', serif;
  font-size: 1.8rem;
  padding-left: 1rem; }

.postre-1 {
  border: black solid 2px;
  margin-left: 5.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #faf5a9; }

.p-grid-1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-family: 'Charis SIL', serif; }

.parrafo-div {
  margin-bottom: 30px; }

#pie-pagina {
  background-color: bisque;
  height: 100%;
  border: solid gray 1px; }

.titulo-pie {
  text-align: center;
  padding-top: 20px;
  color: crimson;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.4rem; }

.pie-contenedor {
  display: inline-flex;
  background-color: bisque;
  justify-content: center;
  width: 100%;
  height: 50px; }

.bi-facebook {
  display: inline;
  height: 2.2rem;
  padding-top: 40px;
  margin-bottom: 1px; }

.bi-instagram {
  display: inline;
  height: 2.2rem;
  padding-top: 40px;
  margin-bottom: 1px; }

.bi-twitter {
  display: inline;
  height: 2.2rem;
  padding-top: 40px;
  margin-bottom: 1px; }

#personal {
  text-align: center;
  background-color: beige;
  color: crimson;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

/*RESPONSIVE*/
/*celular*/
@media only screen and (max-width: 480px) {
  /*Inicio*/
  .h1 {
    font-size: 3rem; }
  .h2 {
    font-size: 2rem; }
  .img-restaurante {
    width: 100%; }
  .img-restaurante-div {
    width: 100%;
    height: 360px; }
  .img-restaurante-div:hover {
    height: 350px;
    width: 100%;
    border: solid 0px black; }
  /*Personal*/
  .p-1 {
    font-size: 0.5rem; }
  .flex-img {
    width: 45%;
    height: 190px; }
  /*Eventos*/
  .video-yt {
    width: 55%;
    margin-left: 25px; }
  .p-video {
    font-size: 0.8rem;
    margin-bottom: 40px; }
  .video-yt-border {
    border: solid black 0px; }
  /*Grilla Especialidades*/
  .menu {
    width: 70%;
    height: 8rem;
    margin-left: 7rem;
    font-size: 1rem;
    padding-left: 0.1rem; }
  .menu-1 {
    height: 8rem;
    margin-left: 5rem;
    margin-right: 2rem; }
  .p-grid-1 {
    font-size: 0.4rem;
    margin-left: 1rem; }
  .almuerzo {
    width: 70%;
    height: 8rem;
    margin-left: 7rem;
    font-size: 0.7rem;
    padding-left: 0.01rem; }
  .almuerzo-1 {
    height: 8rem;
    margin-left: 5rem;
    margin-right: 2rem; }
  .cena {
    width: 70%;
    height: 8rem;
    margin-left: 7rem;
    font-size: 1rem;
    padding-left: 0.1rem; }
  .cena-1 {
    height: 8rem;
    margin-left: 5rem;
    margin-right: 2rem; }
  .postre {
    width: 70%;
    height: 8rem;
    margin-left: 7rem;
    font-size: 1rem;
    padding-left: 0.1rem; }
  .postre-1 {
    height: 8rem;
    margin-left: 5rem;
    margin-right: 2rem; }
  /*Contacto*/
  .link-menu {
    font-size: 0.8rem; }
  .subtitulo {
    font-size: 1.5rem; }
  .formularioSubmit {
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: x-small; }
  .textArea {
    margin-left: 5px;
    margin-right: 5px; } }

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /*Eventos*/
  .p-video {
    margin-bottom: 1px; }
  /*Personal*/
  .p-1 {
    font-size: 0.7rem;
    margin-bottom: 50px; }
  .flex-img {
    width: 55%;
    height: 270px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px; } }

/*grilla especialidades*/
.menu {
  width: 70%;
  height: 14rem;
  margin-left: 9rem;
  font-size: 1.5rem;
  padding-left: 0.1rem; }

.menu-1 {
  margin-left: 5.1rem; }

.almuerzo {
  width: 70%;
  height: 14rem;
  margin-left: 9rem;
  font-size: 1.1rem;
  padding-left: 0.1rem; }

.almuerzo-1 {
  margin-left: 5.1rem; }

.cena {
  width: 70%;
  height: 14rem;
  margin-left: 9rem;
  font-size: 1.5rem;
  padding-left: 0.1rem; }

.cena-1 {
  margin-left: 5.1rem; }

.postre {
  width: 70%;
  height: 14rem;
  margin-left: 9rem;
  font-size: 1.4rem;
  padding-left: 0.1rem; }

.postre-1 {
  margin-left: 5.1rem; }

.p-grid-1 {
  margin-left: 0.8rem;
  font-size: 1rem; }

/*PC*/
@media only screen and (min-width: 1024px) {
  /*grilla especialidades*/
  .menu {
    width: 70%;
    height: 8rem;
    margin-left: 9rem;
    font-size: 2rem;
    padding-left: 1rem; }
  .menu-1 {
    margin-left: 5.1rem; }
  .almuerzo {
    width: 70%;
    height: 8rem;
    margin-left: 9rem;
    font-size: 1.8rem;
    padding-left: 1rem; }
  .almuerzo-1 {
    margin-left: 5.1rem; }
  .cena {
    width: 70%;
    height: 8rem;
    margin-left: 9rem;
    font-size: 1.8rem;
    padding-left: 1rem; }
  .cena-1 {
    margin-left: 5.1rem; }
  .postre {
    width: 70%;
    height: 8rem;
    margin-left: 9rem;
    font-size: 1.8rem;
    padding-left: 1rem; }
  .postre-1 {
    margin-left: 5.1rem; }
  .p-grid-1 {
    margin-left: 1rem; } }

.logoFacebook {
  color: darkblue; }

.logoInstagram {
  color: #a82ba8; }

.logoTwitter {
  color: rgba(20, 219, 233, 0.952); }

.letraPersonal {
  font-size: 0.9rem;
  font-weight: 100; }

.letraEventos {
  font-size: 0.9rem;
  font-weight: 150; }

.contenedorContacto, .contenedorContactoMail, .contenedorContactoNombre, .contenedorContactoTexto, .textoContacto {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  color: crimson; }

.contenedorContactoMail {
  justify-content: space-between; }

.contenedorContactoNombre {
  justify-content: space-between; }

.contenedorContactoTexto {
  width: 10rem;
  padding-right: 118px;
  padding-top: 20px;
  padding-bottom: 5px; }

.textoContacto {
  padding-left: 117px;
  text-decoration: underline;
  font-size: 1.5rem;
  padding-top: 1px; }

.textArea {
  width: 30rem;
  height: auto; }

.formularioSubmit {
  color: crimson;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2rem;
  padding-top: 4px; }

.contenedorFormulario {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  margin-top: 30px;
  padding-right: 20px; }
