*{
    margin: 0;
    padding: 0;
}
html{
    background-color: beige !important;
    scroll-behavior: auto;
}
ul{
    font-size: 10px;

}
.h1{
    color: crimson;
    text-align: left;
    padding: 15px 30px 10px 30px;
    font-size: 70px;
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h2{
    color: crimson;
    font-size: 50px;
    text-align: center;
    padding: 18px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.h3{
    padding: 20px 5px;
    text-align: center;
    font-size: xx-large;
    color: crimson;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.h4{
    color: crimson;
    font-size: 30px;
    text-align: center;
    padding: 18px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.subtitulo{
    color: crimson;
    font-size: 30px;
    text-align: center;
    padding: 22px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-line: underline;
    
}
.parrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px 15px;
    border: solid 2px black;
    margin: 5px 10px 5px 10px;
    background-image: linear-gradient(to left, rgb(206, 206, 206), rgb(177, 45, 45));
}
.titulo{
    background-color: bisque;
    padding: 2px 5px;
    text-align: center;
    font-size: 45px;
    color: crimson;
    height: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.titulo-2{
    background-color: bisque;
    padding: 2px 5px;
    text-align: center;
    font-size: 45px;
    color: crimson;
    height: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.link-menu{
    
    align-items:flex-end; 
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    
    
    margin: 5px 5px 5px 25px;
    padding: 1px 0px;
   
}
.img-restaurante{
    width: 1340px;
    height: 360px;
}
.img-restaurante-div{
    width: 1340px;
    height: 360px;
}   
.img-restaurante-div:hover {
height: 350px;
border:solid 4px black;
}
.parrafo-personal{
    display:flex
    
}
.link-menu2{
    
    align-items:flex-end; 
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    margin: 5px 5px 5px 25px;
    padding: 1px 0px;
}
.flex-img{
    display: flex;
    padding: 15px 10px;
    border: 5px;
    justify-content: center;
    height: 360px;
    width: 560px;
}    
.flex-container{
display: flex;
justify-content: center;
}
.p-video{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    padding: 0px 50px;
}       
.p-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    margin: 10px;
}
.video-yt{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 550px;
    
    
    justify-content: stretch;
    margin: 0px 120px;
    border: 1px solid black;
    background-color: rgb(224, 165, 165);

}
.caja{
    line-height: 150px;
    text-align: center;
    background-color: indianred;
    border: 1px solid black;
}
.c1{
    grid-column: 1 / 4;
    font-size: 50px;
    text-align: center;
    
}
.c2{
    font-size: 40px;
    text-align: center;
}
.c3{
    font-size: 40px;
    text-align: center;
}
.c4{
    font-size: 40px;
    text-align: center;
}
#personal{
    text-align: center;
    background-color: bisque;
    color: crimson;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
